<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blogs</title>
    <link rel="stylesheet" href="./blogs.css" />
  </head>
  <body>
    <div class="submission_form">
      <div><h1>All Blogs</h1></div>
      <form action="" method="POST">
        <div><input type="text" name="blog_name" />Title</div>
        <div><textarea name="content" rows="6" cols="40" /></textarea>Content</div>
        <div><button type="submit">Add blog</button></div>
      </form>
    </div>

    <% if (blogs && blogs.length > 0) { %> <% blogs.forEach(blog => { %>
    <div class="blog-card">
      <div class="blog-title"><h2><%= blog.blog_name %></h2></div>
      <div class="blog-content"><%= blog.content %></div>
    </div>
    <% }) %> <% } else { %>
    <p>No blogs found.</p>
    <% } %>
  </body>
</html>
