<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in-Page</title>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>
    <h1>HEY ITS LOGIN PAGE</h1>
    <form action="/login" method="POST">
      <div><input type="text" name="username" /><label> Username</label></div>
      <div><input type="text" name="email" /><label> Email</label></div>
      <div><input type="text" name="password" /><label> Password</label></div>
      <div><button type="submit">Login</button></div>
    </form>
  </body>
</html>
