<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up-Page</title>
  </head>
  <body>
    <h1>HEY ITS SIGNUP PAGE</h1>
    <form action="/signup" method="POST">
      <div><input type="text" name="name" /><label> Name</label></div>
      <div><input type="text" name="username" /><label> Username</label></div>
      <div><input type="text" name="email" /><label> Email</label></div>
      <div><input type="text" name="password" /><label> Password</label></div>
      <div><button type="submit">signup</button></div>
    </form>
  </body>
</html>
