* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(
    45deg,
    rgb(255, 67, 67),
    rgb(255, 96, 96),
    rgb(255, 145, 145)
  ); */
  background-color: skyblue;
}

.submission_form div {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-card {
  width: 90%;
  padding: 20px;
  box-shadow: 0 0px 8px rgb(42, 134, 170);
  margin-bottom: 20px;
  background-color: skyblue;
}

button {
  background-color: rgb(42, 134, 170);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.blog-content {
  height: 40px;
}

div input #content {
  height: 120px;
}
